* {
  font-family: 'Nunito', sans-serif;

}

body {
  padding: 60px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 3px;

}


input {
  width: 97%;
  font-size: 1rem;
  font: bold;
  border-radius: 5px;   

}


.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    border-radius: 3px;

  
  
}


.card {
  /* border: 1px solid grey; */
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  
  

}

/* .card p {
  padding: 5px;
  text-align: center;
} */

.card img {

  max-height: 150px;

}
